.wrapper {
  font-family: 'Heebo';
  font-style: normal;
}

@media (max-width: 960px) {
  .wrapper {
    padding: 0 11px;
  }
}

.header-container {
  max-width: 944px;
  margin: 0 auto;
  min-height: 70px;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 33px;
}

.header-menu-item a {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  position: relative;
}

.header-menu-item a::before {
  content: '';
  height: 0px;
  width: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 20%, rgba(34, 193, 195, 1) 25%, rgba(34, 193, 195, 1) 28%, rgba(34, 193, 195, 1) 34%, rgba(34, 193, 195, 1) 37%, rgba(34, 193, 195, 1) 44%, rgba(34, 193, 195, 1) 50%, rgba(34, 193, 195, 1) 53%, rgba(41, 193, 190, 1) 56%, rgba(50, 192, 184, 1) 60%, rgba(55, 192, 181, 1) 62%, rgba(76, 191, 167, 1) 66%, rgba(105, 191, 178, 1) 74%, rgba(113, 191, 178, 1) 76%, rgba(127, 190, 186, 1) 78%, rgba(118, 190, 181, 1) 82%, rgba(45, 206, 253, 1) 100%);

  z-index: -1;
}

.header-menu-item a:hover:before {
  height: 35px;
  transition: .3s;
}


.burger {
  display: none;
  justify-content: flex-end;
  font-size: 24px;
  align-items: center;
}



@media (max-width:960px) {
  .nav-menu {
    display: none;
  }

  .burger {
    display: flex;
  }
}

.blog-container {
  max-width: 868px;
  margin: 0 auto;
}

.blog-column {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

.blog-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  margin-bottom: 55px;
  color: #21243D;
}

.column-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  /* Dark Color */
  margin-bottom: 17px;
  color: #21243D;
}

.date {
  border-right: 1px solid black;
  padding-right: 21px;
}

.info {
  padding-left: 21px;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;

  /* Light */

  color: #8695A4;
}

.column-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  margin-bottom: 16px;
  color: #21243D;
}

.column-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footer {
  padding: 83px 0;
}

.footer-container {
  max-width: 856px;
  margin: 0 auto;
}

.contatcs {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 26px;
}

.copyright {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  /* Dark */

  color: #21243D;

}

.contatcs li:hover img {
  /*transform: scale(1.2) rotate(360deg);*/
  transition: .3s;
  transform: translate(0, -50%);
}